In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [86]:
Data=pd.read_csv('melb_data.csv')
Data.head()
Y=Data.Price
X=Data.drop('Price',axis=1)
X.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

Splitting the data in to training and validation

In [88]:
from sklearn.model_selection import train_test_split
X_train,X_valid,Y_train,Y_valid=train_test_split(X,Y,train_size=0.8,random_state=0)
columnname=X_train.columns
columnname
#resetting the index of the data and assigning back to it
X_train.reset_index(drop=True,inplace=True)
X_test.reset_index(drop=True,inplace=True)

Function to Calculate the Accuracy of the model

In [89]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
def modelaccuracyscore(x_train,x_valid,y_train,y_valid):
    model=RandomForestRegressor(n_estimators=100,random_state=0)
    model.fit(x_train,y_train)
    y_pred=model.predict(x_valid)
    print(mean_absolute_error(y_valid,y_pred))

Taking Care of Misssing numerical variables

In [90]:
from sklearn.impute import SimpleImputer
imp_mean=SimpleImputer(missing_values=np.nan,strategy='mean')
num_x_train=X_train.select_dtypes(include='number')
num_x_valid=X_valid.select_dtypes(include='number')
num_column=num_x_train.columns

impute_x_train=pd.DataFrame(imp_mean.fit_transform(num_x_train))
impute_x_valid=pd.DataFrame(imp_mean.transform(num_x_valid))


impute_x_train.columns=impute_x_valid.columns=num_column
X_train=X_train.select_dtypes(include=object)
X_train=pd.concat([X_train,impute_x_train],axis=1)
X_train

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,St Kilda,11/22 Charnwood Cr,u,S,hockingstuart,29/07/2017,Port Phillip,Southern Metropolitan,1.0,5.0,3182.0,1.0,1.0,1.0,0.0,153.764119,1940.000000,-37.85984,144.98670,13240.0
1,Williamstown,18 James St,h,SA,Hunter,17/09/2016,Hobsons Bay,Western Metropolitan,2.0,8.0,3016.0,2.0,2.0,1.0,193.0,153.764119,1964.839866,-37.85800,144.90050,6380.0
2,Sunshine,10 Dundalk St,h,S,Barry,8/04/2017,Brimbank,Western Metropolitan,3.0,12.6,3020.0,3.0,1.0,1.0,555.0,153.764119,1964.839866,-37.79880,144.82200,3755.0
3,Glenroy,1/2 Prospect St,u,SP,Brad,18/06/2016,Moreland,Northern Metropolitan,3.0,13.0,3046.0,3.0,1.0,1.0,265.0,153.764119,1995.000000,-37.70830,144.91580,8870.0
4,Sunshine North,35 Furlong Rd,h,S,First,22/05/2016,Brimbank,Western Metropolitan,3.0,13.3,3020.0,3.0,1.0,2.0,673.0,673.000000,1970.000000,-37.76230,144.82720,4217.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10859,Brunswick,232 Brunswick Rd,h,SP,Chambers,23/09/2017,NaN,Northern Metropolitan,3.0,5.2,3056.0,3.0,1.0,2.0,212.0,153.764119,1964.839866,-37.77695,144.95785,11918.0
10860,Heidelberg Heights,484 Waterdale Rd,h,S,Miles,25/02/2017,Banyule,Eastern Metropolitan,3.0,10.5,3081.0,3.0,1.0,1.0,748.0,101.000000,1950.000000,-37.74160,145.04810,2947.0
10861,Coburg,17 Quarry Cct,h,PI,Ray,24/06/2017,Moreland,Northern Metropolitan,4.0,6.7,3058.0,4.0,2.0,2.0,441.0,255.000000,2002.000000,-37.73572,144.97256,11204.0
10862,Reservoir,2 Kerang Av,h,S,Love,8/07/2017,Darebin,Northern Metropolitan,3.0,12.0,3073.0,3.0,1.0,1.0,606.0,153.764119,1964.839866,-37.72057,145.02615,21650.0
10863,Footscray,4 Adelaide St,h,SP,Nelson,27/11/2016,Maribyrnong,Western Metropolitan,4.0,6.4,3011.0,4.0,2.0,1.0,319.0,130.000000,1915.000000,-37.79430,144.88750,7570.0

Taking Care of Categorical values

Mehod 1 dropping coloumns with categorical variables

In [ ]:
category_name=(X_train.dtypes=='object')
category_name=category_name.index
category_name
x_train_removedc=X_train.select_dtypes(exclude=['object'])
x_valid_removedc=X_valid.select_dtypes(exclude=['object'])
modelaccuracyscore(x_train_removedc,x_valid_removedc,Y_train,Y_valid)