In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Data=pd.read_csv('melb_data.csv')
Data.head()
Y=Data.Price
X=Data.drop('Price',axis=1)
X.describe(include='all')

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
count,13580,13580,13580.000000,13580,13580,13580,13580,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,12211,13580.000000,13580.000000,13580,13580.000000
unique,314,13378,NaN,3,5,268,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,NaN,NaN,8,NaN
top,Reservoir,28 Blair St,NaN,h,S,Nelson,27/05/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Moreland,NaN,NaN,Southern Metropolitan,NaN
freq,359,3,NaN,9449,9022,1565,473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1163,NaN,NaN,4695,NaN
mean,NaN,NaN,2.937997,NaN,NaN,NaN,NaN,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,NaN,-37.809203,144.995216,NaN,7454.417378
std,NaN,NaN,0.955748,NaN,NaN,NaN,NaN,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,NaN,0.079260,0.103916,NaN,4378.581772
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,NaN,-38.182550,144.431810,NaN,249.000000
25%,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,NaN,-37.856822,144.929600,NaN,4380.000000
50%,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,NaN,-37.802355,145.000100,NaN,6555.000000
75%,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,NaN,-37.756400,145.058305,NaN,10331.000000
max,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,NaN,-37.408530,145.526350,NaN,21650.000000

Remove categories with more number of Unique values

In [3]:
maxuniquevalues=10
X.describe(include='all')
dropcol=[]
for colname in X:
   if(X[colname].nunique()>maxuniquevalues) and X[colname].dtype=='object':
    print(colname)
    dropcol.append(colname)
 

    
X=X.drop(dropcol,axis=1)
X

Suburb
Address
SellerG
Date
CouncilArea

,Rooms,Type,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Regionname,Propertycount
0,2,h,S,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,h,S,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.80790,144.99340,Northern Metropolitan,4019.0
2,3,h,SP,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.80930,144.99440,Northern Metropolitan,4019.0
3,3,h,PI,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,-37.79690,144.99690,Northern Metropolitan,4019.0
4,4,h,VB,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,4,h,S,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,3,h,SP,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,-37.85927,144.87904,Western Metropolitan,6380.0
13577,3,h,S,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,-37.85274,144.88738,Western Metropolitan,6380.0
13578,4,h,PI,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,-37.85908,144.89299,Western Metropolitan,6380.0
13579,4,h,SP,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,-37.81188,144.88449,Western Metropolitan,6543.0

Splitting the data in to training and validation

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_valid,Y_train,Y_valid=train_test_split(X,Y,train_size=0.8,random_state=0)

#resetting the index of the data and assigning back to it
X_train.reset_index(drop=True,inplace=True)
X_valid.reset_index(drop=True,inplace=True)

Function to Calculate the Accuracy of the model

In [5]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
def modelaccuracyscore(x_train,x_valid,y_train,y_valid):
    model=RandomForestRegressor(n_estimators=100,random_state=0)
    model.fit(x_train,y_train)
    y_pred=model.predict(x_valid)
    print(mean_absolute_error(y_valid,y_pred))

Taking Care of Misssing numerical variables

In [6]:
from sklearn.impute import SimpleImputer
imp_mean=SimpleImputer(missing_values=np.nan,strategy='mean')
num_x_train=X_train.select_dtypes(include='number')
num_x_valid=X_valid.select_dtypes(include='number')
num_column=num_x_train.columns

impute_x_train=pd.DataFrame(imp_mean.fit_transform(num_x_train))
impute_x_valid=pd.DataFrame(imp_mean.transform(num_x_valid))


impute_x_train.columns=impute_x_valid.columns=num_column
X_train=X_train.select_dtypes(include=object)
X_valid=X_valid.select_dtypes(include=object)
X_train=pd.concat([X_train,impute_x_train],axis=1)
X_valid=pd.concat([X_valid,impute_x_valid],axis=1)
X_valid

,Type,Method,Regionname,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,h,SP,Western Metropolitan,4.0,8.0,3016.0,4.0,2.0,2.0,450.0,190.000000,1910.000000,-37.86100,144.89850,6380.0
1,h,S,Western Metropolitan,2.0,6.6,3011.0,2.0,1.0,0.0,172.0,81.000000,1900.000000,-37.81000,144.88960,2417.0
2,h,SP,Western Metropolitan,3.0,10.5,3020.0,3.0,1.0,1.0,581.0,153.764119,1964.839866,-37.76740,144.82421,4217.0
3,t,PI,Southern Metropolitan,3.0,4.5,3181.0,2.0,2.0,1.0,128.0,134.000000,2000.000000,-37.85260,145.00710,7717.0
4,h,S,Northern Metropolitan,3.0,8.5,3044.0,3.0,2.0,2.0,480.0,153.764119,1964.839866,-37.72523,144.94567,7485.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,u,PI,Western Metropolitan,2.0,6.4,3011.0,2.0,1.0,1.0,47.0,35.000000,2013.000000,-37.80140,144.89590,7570.0
2712,h,SP,Western Metropolitan,4.0,8.0,3016.0,4.0,2.0,4.0,551.0,153.764119,1964.839866,-37.85790,144.87860,6380.0
2713,h,S,Eastern Metropolitan,3.0,10.8,3105.0,3.0,1.0,1.0,757.0,153.764119,1964.839866,-37.78094,145.10131,4480.0
2714,h,S,Western Metropolitan,4.0,6.2,3039.0,4.0,1.0,3.0,478.0,152.000000,1925.000000,-37.76421,144.90571,6232.0
2715,h,SP,Northern Metropolitan,2.0,1.6,3066.0,2.0,1.0,2.0,159.0,86.000000,1880.000000,-37.79620,144.98870,4553.0

Taking Care of Categorical values

Mehod 1 dropping coloumns with categorical variables

In [7]:

x_train_removedc=X_train.select_dtypes(exclude=['object'])
x_valid_removedc=X_valid.select_dtypes(exclude=['object'])
modelaccuracyscore(x_train_removedc,x_valid_removedc,Y_train,Y_valid)

169237.0268668034

Method 2  One hot encoding

In [8]:
X_train.describe(include='all')
from sklearn

,Type,Method,Regionname,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,10864,10864,10864,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000,10864.000000
unique,3,5,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,h,S,Southern Metropolitan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,7562,7229,3776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2.941458,10.123518,3105.655099,2.916973,1.535162,1.604716,565.872423,153.764119,1964.839866,-37.809911,144.995053,7474.990519
std,NaN,NaN,NaN,0.961697,5.881645,91.169384,0.973700,0.692709,0.958840,4382.784066,436.158709,28.274922,0.079467,0.103625,4359.830215
min,NaN,NaN,NaN,1.000000,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1830.000000,-38.182550,144.431810,249.000000
25%,NaN,NaN,NaN,2.000000,6.100000,3046.000000,2.000000,1.000000,1.000000,178.000000,122.000000,1960.000000,-37.857300,144.929667,4385.000000
50%,NaN,NaN,NaN,3.000000,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,153.764119,1964.839866,-37.802465,145.000200,6567.000000
75%,NaN,NaN,NaN,4.000000,13.000000,3149.000000,3.000000,2.000000,2.000000,650.250000,153.764119,1975.000000,-37.757172,145.057518,10331.000000
max,NaN,NaN,NaN,10.000000,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.482730,21650.000000